body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.main-div {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

/*** Styling for scroll bar STARTS here ***/

*::-webkit-scrollbar {
  scrollbar-width: thin;
  width: 4px;
  height: 6px;
  background-color: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(46, 44, 44);
  border: 1px solid rgb(186, 206, 183);
  border-radius: 10px;
}

/*** Styling for scroll bar ENDS here ***/
